.container {
     display: grid;
     grid-template-rows: repeat(4, 160px);
     grid-template-columns: repeat(6, 160px);
     /*height: 480px;*/
     grid-gap: .7em;
     /*margin-top: 5%*/
   }

body {
     margin: 5em 0 0 0;
     padding: 5%;
     line-height: 1.6;
     word-spacing: 1.4px;
     font-family: 'Roboto', sans-serif;
     color: var(--clr-dark);
     background-image: url("space.jpg");
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: lightgrey;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 12px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

