{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
	<div class="sidebar">
	
	</div>
	
	<div class="content">
	<h1>Constellations Quiz</h1>
 
		<p>This website is a quick quiz on constellations! Click start and begin! Once you've
 		chosen your answer you cannot go back and choose again. Restart the quiz at any time! Goodluck.</p>
 
	<ul>
		<button class="button"><a href="/page1"><span>start </span></a>
	</ul>
	</div>
	
	
	
	
</div>

{% endblock %}
