{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
  <h1>Constellations</h1>
  <br>
  <h1>Quiz</h1>
 
 <p>This website is a quick quiz on constellations! Click start and began! Once you've
 chosen your answer you cannot go back and choose again. Restart the quiz at any time! Goodluck.</p>
 
 <ul>
  <button class="button" style="vertical-align:middle"><span><li><a href="/page1">Get started </a></span></button>
</ul>
 <div>

{% endblock %}
