{% extends "layout.html" %}

{% block title %}Page 7--Get your score{% endblock %}

{% block content %}
<div class="container">
	<div class="sidebar">
	<a href="/startOver"><span>start over</span></a>
	<br>
	<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
	</div>
	</div>
	
	<div class="content">
	<h1>Final Score:</h1>

	<ul>
		<li> score: {{ result }}/6 </li>
		<br>
		Your Responses:
        <li> You answered question 1 {{ answer1 }}. </li> 
        <li> you answered question 2 {{ answer2 }}. </li>
        <li> You answered question 3 {{ answer3 }}. </li>
        <li> You answered question 4 {{ answer4 }}. </li>
        <li> You answered question 5 {{ answer5 }}. </li>
        <li> You answered question 6 {{ answer6 }}. </li>
</ul>
	</ul>
	<br>

	</div>
	
	
	
</div>



{% endblock %}
