{% extends "layout.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}

<div class="container">
	<div class="sidebar">
	
	</div>
	
	<div class="content">
	<h1>What is this star pattern called?</h1>

	<img src="https://static.vecteezy.com/system/resources/previews/022/938/477/non_2x/orion-constellation-map-illustration-vector.jpg" alt="orion" height="auto" width="300px" margin-right:20px; style="image-rendering:pixelated;">
  
  
	<form action={{ url_for("renderPage3") }} method="POST">
		<input type="radio" id="aries" name="whichStar" value="aries">
		<label for="option">aries</label><br>
		<input type="radio" id="lyra" name="whichStar" value="lyra">
		<label for="option">lyra</label><br>
		<input type="radio" id="orion" name="whichStar" value="orion">
		<label for="option">orion</label><br><br>
		<input type="submit" value="Next →">
	</form> 
	</div>
	
	
	
	
</div>



{% endblock %}
