{% extends "layout.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}

<div class="container">
	<div class="sidebar">
	<ul>
		<button class="button"><a href="/startOver"><span>start over </span></a>
	</ul>
	</div>
	
	<div class="content">
	<h1>What is this star pattern called?</h1>

	<img src="https://static.vecteezy.com/system/resources/previews/023/079/513/original/hydrus-constellation-map-illustration-vector.jpg" alt="hydrus" height="auto" width="300px" margin-right:20px; style="image-rendering:pixelated;">
  
  
	<form action={{ url_for("renderPage6") }} method="POST">
		<input type="radio" id="hydrus" name="which5" value="hydrus">
		<label for="option">hydrus</label><br>
		<input type="radio" id="antila" name="which5" value="antila">
		<label for="option">lyra</label><br>
		<input type="radio" id="cetus" name="which5" value="cetus">
		<label for="option">cetus</label><br><br>
		<input type="submit" value="Next →">
	</form> 
	</div>
	<br>
	
	</div>
	
	
	
</div>



{% endblock %}
