{% extends "layout.html" %}

{% block title %}Page 7--Now we know everything!{% endblock %}

{% block content %}
<div class="container">
	<div class="sidebar">
	<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
		</div>
	<ul>
		<button class="button"><a href="/startOver"><span>start over </span></a>
	</ul>
	</div>
	
	<div class="content">
	<h1>user chose:</h1>

	<ul>
 		<li> 1st: {{ session['which1'] }} </li>
		<li> 2nd: {{ session['which2'] }} </li>
		<li> 3rd: {{ session['which3'] }} </li>
		<li> 4th: {{ session['which4'] }} </li>
		<li> 5th: {{ session['which5'] }} </li>
		<li> 6th: {{ session['answer'] }} </li>
		<li> score: {{ result }} </li>
	</ul>
	<br>

	</div>
	
	
	
</div>



{% endblock %}
