{% extends "layout.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}

<div class="container">
	<div class="sidebar">
	<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:37.5%"></div>
		</div>
	<ul>
		<button class="button"><a href="/startOver"><span>start over </span></a>
	</ul>
	</div>
	
	<div class="content">
	<h1>What is this star pattern called?</h1>

	<img src="https://media.gettyimages.com/id/1284299542/vector/cygnus-constellation-on-transparent-background.jpg?s=1024x1024&w=gi&k=20&c=2MViT3ytZzAEYdLjo9nfN-I3eluOe_UOaSILh5r7kV4=" alt="orion" height="auto" width="300px" margin-right:20px; style="image-rendering:pixelated;">
  
	
	<p>Choose which you think this is:</p>
	<form action={{ url_for("renderPage4") }} method="POST">
		<input type="radio" id="apus" name="which3" value="apus">
		<label for="option">apus</label><br>
		<input type="radio" id="lupus" name="which3" value="lupus">
		<label for="option">lupus</label><br>
		<input type="radio" id="cygnus" name="which3" value="cygnus">
		<label for="option">cygnus</label><br><br>
		<input type="submit" value="Next →">
	</form> 
	<br>
	
	</div>

	
	
	
	
</div>


{% endblock %}
