{% extends "layout.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}

<div class="container">
	<div class="sidebar">
	
	</div>
	
	<div class="content">
	<h1>What is this star pattern called?</h1>

	<img src="https://t4.ftcdn.net/jpg/05/53/27/33/360_F_553273374_1hRtBY3St4bZVEimXDnxNG0UToN8mJeZ.jpg" alt="orion" height="auto" width="300px" margin-right:20px; style="image-rendering:pixelated;">
  
	
	<p>Choose which you think this is:</p>
	<form action={{ url_for("renderPage7") }} method="POST">
		<input type="radio" id="apus" name="whichStar" value="apus">
		<label for="option">apus</label><br>
		<input type="radio" id="lupus" name="whichStar" value="lupus">
		<label for="option">lupus</label><br>
		<input type="radio" id="cygnus" name="whichStar" value="cygnus">
		<label for="option">cygnus</label><br><br>
		<input type="submit" value="Next →">
	</form> 
	<br>
	<br>
	<button class="button"><a href="/startOver"><span>start over </span></a>
	</div>
	
	
	
	
</div>



{% endblock %}
