{% extends "layout.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}

<div class="container">
	<div class="sidebar">
	<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%"></div>
		</div>
	<ul>
		<button class="button"><a href="/startOver"><span>start over </span></a>
	</ul>
	</div>
	
	<div class="content">
	<h1>What is this star pattern called?</h1>

	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/ConstellationDraco.svg/1200px-ConstellationDraco.svg.png" alt="draco" height="auto" width="300px" margin-right:20px; style="image-rendering:pixelated;">
  
	
	<p>Choose which you think this is:</p>
	<form action={{ url_for("renderPage5") }} method="POST">
		<input type="radio" id="big dipper" name="which4" value="big dipper">
		<label for="option">big dipper</label><br>
		<input type="radio" id="aries" name="which4" value="aries">
		<label for="option">aries</label><br>
		<input type="radio" id="draco" name="which4" value="draco">
		<label for="option">draco</label><br><br>
		<input type="submit" value="Next →">
	</form> 
	<br>
	
	</div>

	
	
	
	
</div>



{% endblock %}
