{% extends "layout.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}

<div class="container mt-3">
  <h1>Page 1: Lets start easy, what is this called?</h1>

 <img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/2b50.png" alt="yellow star">
  
  
<p>Choose which you think this is:</p>
<form action={{ url_for("renderPage2") }} method="POST">
  <input type="radio" id="star" name="what_is_it" value="option">
  <label for="option">Star</label><br>
  <input type="radio" id="moon" name="what_is_it" value="option">
  <label for="option">moon</label><br>
  <input type="radio" id="sun" name="what_is_it" value="option">
  <label for="option">sun</label><br><br>
  <input type="submit" value="Submit">
</form> 
</div>
<br>
<br>
<br>

{% endblock %}
